html {
  background-color: black;
  color: #fff;
}

.wrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-container{
  display: flex;
}

.main-canvas {
  width: 801px;
  height: 601px;
  border: solid 1px white;
}
